<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>kirja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>books</h3>

    <table>
        <tr>
            <th>title</th>
            <th>author</th>
            <th>year</th>
            <th>isbn</th>
            <th>price</th>
        </tr>
        <!-- <tr th:each="book : ${books}">
            <td th:text="${book.author}"></td>

        </tr> -->
    </table>
</body>
</html>